<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ascii-Art Web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/style.css" />

</head>

<body>
    <div class="Title">
        <h6>Ascii-Art-Web</h6>
    </div>
    <div class="result2">
        <pre>{{.}}</pre>
    </div>
    <div class="centerBottons">
        <div class="centerButton2">
            <a href="/">
                <button type="button" class="button2"> Return </button>
            </a>

            <a href="/downloads">
                <button type="button" class="button2"> Download </button>
            </a>
        </div>
    </div>

</body>

</html>